body {
    font-family: "Helvetica";
    /* background-image: url("background.jpeg"); */
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#navbar {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    max-width: 700px;
    
}
#navbar ul {
    background-color: cornflowerblue;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    list-style-type: none;
    margin:0;
    padding:0;
    
}

#navbar li {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

#main-title {
    font-size: 20px;
    background-color: aliceblue;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}