.container {
    max-width: 800px;
    margin: 8vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px #7d7d95;
    background-position: -110px -450px;
    background-size: 100px 1800px;
    font-family: "Helvetica";
}

.buttons {
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.button {
    border: 0.5px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor:pointer;
}

.bottombar {
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    grid-template-columns: 1fr 1fr;
}

.helvetica-text {
    font-family: "Helvetica";
}

#reset {
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    background-color: #999;
    border: 0.5px solid rgb(0, 0, 0);
}

#submit {
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    background-color: #999;
    border: 0.5px solid rgb(0, 0, 0);
}

#addroute {
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    background-color: #999;
    border: 0.5px solid rgb(0, 0, 0);
}

#blank {
    pointer-events: none;
    
}

.routeform {
    text-align: center;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    padding: 25px, 25px;
}